.main {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 1200px;
  box-sizing: border-box;
}

.customer {
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.customer > * {

}
